/* 
Border Color: #bdc3c7
Date Color: #3498db
h2 color: #2c3e50
font: source sans pro

-Left border on 1st Paragraphs
-Date is in all caps UPPERCASE & has Letter-Spacing
-Add hr element for horizontal line between post
--research hr styles to get the thin line
*/

body {
  max-width: 700px;
  width: 60%;
  margin: 50px auto;
  border: 15px solid #bdc3c7;
  padding: 10px 30px;
  font-family: 'source sans pro';
}
.post {
  margin-bottom: 30px;
}

.date {
  color: #3498db;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  color: #2c3e50;
  font-size: 2rem;
  font-weight: 700;
}

.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
